div.pala{position: relative;
        width: 80dvw;height: 80dvw;}
div.isian{display: flex;
        align-items: center;
        justify-content: space-around;
        }
div{
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }